@using FrontEnd.Areas.Identity.Data

@inject NavigationManager Navigation
@inject TokenProvider TokenProvider
@inject IStringLocalizer<SharedResources> localizer

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage/Index">
            @localizer["Hello"], @context.User.Identity.Name!
        </a>
        <form action="Identity/Account/LogOut" method="post">
            <button class="nav-link btn btn-link" type="submit">@localizer["Logout"]</button>
            <input name="__RequestVerificationToken" type="hidden" value="@TokenProvider.XsrfToken">
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">@localizer["Register"]</a>
        <a href="Identity/Account/Login">@localizer["Login"]</a>
    </NotAuthorized>
</AuthorizeView>