@inject OrganizationContext organizationContext
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<SharedResources> localizer

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Web Scada</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="identity/account/login" Match="NavLinkMatch.All">
                        <span class="oi oi-account-login" aria-hidden="true"></span> @localizer["Login"]
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="identity/account/register" Match="NavLinkMatch.All">
                        <span class="oi oi-transfer" aria-hidden="true"></span> @localizer["Register"]
                    </NavLink>
                </li>
            </NotAuthorized>
            <Authorized>
                <li class="divider">
                    &nbsp
                </li>
                @foreach (Organization organization in m_userOrganizations)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href=@String.Concat("/organizations/",organization.OrganizationId)
                        Match="NavLinkMatch.All">
                            <div class="nav-item-text"> @organization.Name</div>
                        </NavLink>
                    </li>
                }
                <li class="divider">
                    &nbsp
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/organizations/create" Match="NavLinkMatch.All">
                        <span class="oi oi-plus" aria-hidden="true"></span>@localizer["NewOrganization"]
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool m_collapseNavMenu = true;

    private string NavMenuCssClass => m_collapseNavMenu ? "collapse" : null;
    private List<Organization> m_userOrganizations;

    protected override Task OnInitializedAsync()
    {
        var user = authStateProvider.GetAuthenticationStateAsync().Result.User;
        if (user.Identity.IsAuthenticated)
        {
            List<int> m_organizationsList = organizationContext.Members
            .Where(x => x.UserName == user.Identity.Name.Normalize())
            .Select(x => x.OrganizationId).ToList();
            m_userOrganizations = organizationContext.Organizations
            .Where(x => m_organizationsList.Contains(x.OrganizationId))
            .ToList();
        }
        return base.OnInitializedAsync();
    }

    private void ToggleNavMenu()
    {
        m_collapseNavMenu = !m_collapseNavMenu;
    }
}
